
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(
        #68C2E8,
        #68C295
    );
}
.image-container img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

a:link {
    text-decoration: none;
    color: black;
    
}
.image-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.name-container {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 30px;
    color:black;
    text-shadow: -1px -1px white;
}   

p {
    margin: 5px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;  
}

.buttons-container button{
    width: 300px;
    height: 40px;
    margin: 5px;
    border-color: white;
    border-right: black;
    font-size: 20px; 
}

.button-linkedin {
    background-color: white;
    padding: 15px 85px;
    transition: all 1.0s;
    border-radius: 0px 15px 0px 15px;
    margin: 10px;
    color: black;
    font-weight: 500;
}

.button-github {
    background-color: white;
    padding: 15px 90px;
    transition: all 1.0s;
    border-radius: 0px 15px 0px 15px;
    margin: 10px;
    color: black;
    font-weight: 500;
}

.button-instagram {
    background-color: white;
    padding: 15px 80px;
    transition: all 1.0s;
    border-radius: 0px 15px 0px 15px;
    margin: 10px;
    color: black;
    font-weight: 500;

}

.button-linkedin:hover {
    transform: scale(1.2);

}

.button-instagram:hover{
    transform: scale(1.2);
}

.button-github:hover {
    transform: scale(1.2);
}
